<form>
  <label>How's it going?</label>
  <input data-ng-model="newFeeling.title">
  <label>Description</label>
  <textarea type="text" data-ng-model="newFeeling.description"></textarea>
  <label>Public</label>
  <input type="checkbox" data-ng-model="newFeeling.public">
  <button data-ng-click="newFeeling.owner=$root.currentUser._id; feelings.push(newFeeling)">Add</button>
  <button data-ng-click="removeAll()">Remove All</button>
</form>
<ul>
  <h1>Emo Entries</h1>
  <div>
    <input type="search" data-ng-model="search" placeholder="Search">
    <select data-ng-model="orderProperty">
        <option value="1">Ascending</option>
        <option value="-1">Descending</option>
    </select>
  </div>
  <li dir-paginate="feeling in feelings | itemsPerPage: perPage" total-items="feelingsCount.count">
    <a href="/feelings/{{feeling._id}}">{{feeling.title}}</a>
    <p>{{feeling.description}}</p>
    <button ng-click="remove(feeling)">X</button>
    <p><small>Posted by {{ creator(feeling) | displayName }}</small></p>
  </li>
</ul>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
