<form>
  <label>How's it going?</label>
  <input data-ng-model="newFeeling.title">
  <label>Description</label>
  <textarea type="text" data-ng-model="newFeeling.description"></textarea>
  <label>Public</label>
  <input type="checkbox" data-ng-model="newFeeling.public">
  <button data-ng-click="newFeeling.owner=$root.currentUser._id; feelings.push(newFeeling)">Add</button>
  <button data-ng-click="removeAll()">Remove All</button>
</form>
<ul>
  <li ng-repeat="feeling in feelings">
    <a href="/feelings/{{feeling._id}}">{{feeling.title}}</a>
    <p>{{feeling.description}}</p>
    <button ng-click="remove(feeling)">X</button>
  </li>
</ul>
