<form data-ng-show="$root.currentUser">
  <label>How's it going?</label>
  <input data-ng-model="newFeeling.title">
  <label>Description</label>
  <textarea type="text" data-ng-model="newFeeling.description"></textarea>
  <label>Public</label>
  <input type="checkbox" data-ng-model="newFeeling.public">
  <button data-ng-click="newFeeling.owner=$root.currentUser._id; feelings.push(newFeeling)">Add</button>
  <button data-ng-click="removeAll()">Remove All</button>
</form>
<div data-ng-hide="$root.currentUser || $root.loggingIn">
  Log in to create a party!
</div>
<ul>
  <h1>Emo Entries</h1>
  <div>
    <input type="search" data-ng-model="search" placeholder="Search">
    <select data-ng-model="orderProperty">
        <option value="1">Ascending</option>
        <option value="-1">Descending</option>
    </select>
  </div>
  <li dir-paginate="feeling in feelings | itemsPerPage: perPage" total-items="feelingsCount.count">
    <a href="/feelings/{{feeling._id}}">{{feeling.title}}</a>
    <p>{{feeling.description}}</p>
    <button data-ng-click="remove(feeling)" data-ng-show="$root.currentUser && $root.currentUser._id == feeling.owner">X</button>
    <button ng-click="remove(feeling)">X</button>
    <div data-ng-show="$root.currentUser">
      <input type="button" value="I'm going!" ng-click="rsvp(feeling._id, 'yes')">
      <input type="button" value="Maybe" ng-click="rsvp(feeling._id, 'maybe')">
      <input type="button" value="No" ng-click="rsvp(feeling._id, 'no')">
    </div>
    <div ng-hide="$root.currentUser">
      <i>Sign in to RSVP for this party.</i>
    </div>
    <div>
      Who is coming:
      Yes - {{ (feeling.rsvps | filter:{rsvp:'yes'}).length }}
      Maybe - {{ (feeling.rsvps | filter:{rsvp:'maybe'}).length }}
      No - {{ (feeling.rsvps | filter:{rsvp:'no'}).length }}
      <div ng-repeat="rsvp in feeling.rsvps | filter:{rsvp:'yes'}">
        {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
      </div>
      <div ng-repeat="rsvp in feeling.rsvps | filter:{rsvp:'maybe'}">
        {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
      </div>
      <div ng-repeat="rsvp in feeling.rsvps | filter:{rsvp:'no'}">
        {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
      </div>
    </div>
    <ul data-ng-if="!feeling.public">
      Users who have not responded:
      <li ng-repeat="invitedUser in outstandingInvitations(feeling)">
        {{ invitedUser | displayName }}
      </li>
    </ul>
    <div ng-if="feeling.public">
      Everyone is invited
    </div>
    <p><small>Posted by {{ creator(feeling) | displayName }}</small></p>
  </li>
</ul>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
